/** @format */

:root {
	--el-font-size-base: inherit;
	--el-component-size: 1.2em;
	--el-font-line-height-primary: 1.2;
}

/* el-form-item */
.el-form-item {
	--font-size: inherit;
}
.el-form-item__label {
	height: inherit;
	line-height: inherit;
}
.el-form-item__content {
	line-height: inherit;
}

/* el-select */
.el-select {
	--el-select-input-font-size: inherit;
}
.el-select__wrapper {
	height: inherit;
	font-size: inherit;
	line-height: 1;
}
.el-select-dropdown__list {
	padding: 0.5em !important;
}
.el-select-dropdown__item,
.el-select-dropdown__empty {
	height: unset;
	white-space: nowrap;
	border-radius: 3px;
	line-height: 1;
	text-overflow: ellipsis;
	padding: 0.5em 1em;
}
.el-select-dropdown__item.selected::before {
	content: "";
	position: absolute;
	width: 4px;
	border-radius: 2px;
	z-index: 1;
	height: 60%;
	top: 20%;
	left: 0;
	top: calc(v-bind(navTop) - 0.5em);
	/* background-color: var(--highlightBackColor); */
	background-clip: content-box;
	box-sizing: border-box;
	transition: top 0.3s;
}
.el-select-dropdown__item.is-disabled {
	opacity: 0.5;
}

/* el-input */
.el-input {
	min-height: 2em;
}
.el-input__inner::placeholder {
	color: var(--placeholder-color);
}

.el-popper {
	font-size: inherit;
}

/* el-checkbox */
.el-checkbox {
	--el-checkbox-font-size: var(--el-font-size-base);
	--el-checkbox-input-width: 1em;
	--el-checkbox-input-height: 1em;
}
.el-checkbox .el-checkbox__input .el-checkbox__inner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.el-transfer-panel .el-checkbox__inner {
	height: var(--el-checkbox-input-height);
	width: var(--el-checkbox-input-width);
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner:before,
.el-checkbox__inner::before {
	top: unset;
	left: unset;
	right: unset;
	top: unset;
	position: unset;
	width: 100%;
}
.el-transfer-panel .el-checkbox__inner:after,
.el-checkbox__inner::after {
	height: 50%;
	width: 30%;
	position: unset;
	margin-top: -15%;
}
.el-checkbox .el-checkbox__label {
	padding-left: 0.5em;
}
.el-checkbox-group {
	font-size: inherit;
}

/* el-radio */
.el-radio-group {
	font-size: inherit;
}
.el-radio,
.el-radio.el-radio--large {
	padding: 0.5em;
	height: unset;
	line-height: 1;
	font-size: inherit;
}
.el-radio.el-radio--large .el-radio__label {
	font-size: inherit;
}
.el-radio.el-radio--large .el-radio__inner {
	width: 0.9em;
	height: 0.9em;
}
.el-radio__inner::after {
	width: 0.3em;
	height: 0.3em;
}

/* el-switch */
.el-switch {
	font-size: inherit;
	line-height: 1;
}
.el-switch__core {
	height: unset;
	min-width: unset;
	padding: 0.3em 0.2em;
}
.el-switch__core .el-switch__inner {
	height: unset;
	width: unset;
	padding: 0 0 0 1em;
}
.el-switch.is-checked .el-switch__core .el-switch__inner {
	padding: 0 1em 0 0;
}
.el-switch__core .el-switch__action {
	left: 0.2em;
	width: 0.8em;
	height: 0.8em;
	background-color: var(--text-color);
}
.el-switch.is-checked .el-switch__core .el-switch__action {
	left: 100%;
	transform: translateX(calc(-100% - 0.2em));
	background-color: var(--contrasted-text-color);
}

.el-switch__core .el-switch__inner .is-icon,
.el-switch__core .el-switch__inner .is-text {
	font-size: unset;
	color: unset;
}
.el-switch.is-checked .el-switch__core .el-switch__inner .is-icon,
.el-switch.is-checked .el-switch__core .el-switch__inner .is-text {
	color: var(--contrasted-text-color);
}

/* el-button */
.el-button {
	height: unset;
}

/* el-message-box */
.el-message-box {
	--el-messagebox-width: 20em;
	--el-messagebox-font-size: inherit;
	--el-message-close-size: 1em;
	--el-messagebox-padding-primary: 0.8em;
}
.el-message-box__headerbtn {
	width: 2.5em;
	height: 2.5em;
}
.el-message-box__status {
	font-size: 1.5em;
}

/* .el-step */
.el-step.is-simple .el-step__head {
	font-size: inherit;
}
.el-step.is-simple .el-step__icon {
	font-size: 0.9em;
}

/* el-avatar */
.el-avatar {
	font-size: inherit;
}

/* el-dialog */
.el-dialog {
	--el-dialog-title-font-size: inherit;
	--el-dialog-content-font-size: inherit;
	box-shadow: 0 0 10px 0 var(--border-color);
}

/* el-table */
.el-table {
	font-size: 0.9em;
}
.el-table .el-table__cell {
	padding: 0.7em;
}
.el-table .cell {
	padding: 0;
	line-height: 1.2;
}
.el-table__body-wrapper .el-table-column--selection > .cell,
.el-table__header-wrapper .el-table-column--selection > .cell {
	height: unset;
}
.el-table [class*="el-table__row--level"] .el-table__expand-icon {
	height: unset;
	width: unset;
	margin-right: 0.5em;
}
.el-table__expand-icon > .el-icon,
.el-table__expand-icon {
	font-size: 0.9em;
}
tr th.el-table-fixed-column--right,
tr td.el-table-fixed-column--right {
	position: relative;
}

tr th.el-table-fixed-column--right::after,
tr td.el-table-fixed-column--right::after {
	content: "";
	position: absolute;
	left: 1px;
	bottom: 0px;
	height: 100%;
	width: 1px;
	background-color: transparent;
	box-shadow: -2px 0px 3px 0px var(--hover-text-color);
}

/* el-transfer */
.el-transfer {
	--el-transfer-panel-header-height: 2em;
	--el-transfer-panel-footer-height: 2em;
	--el-transfer-filter-height: 1.5em;
	--el-transfer-item-height: unset;
	--el-transfer-panel-width: max-content;
	--el-transfer-panel-body-height: 15em;
}
.el-transfer-panel .el-transfer-panel__header {
	padding: 0 1em;
}
.el-transfer-panel__item {
	margin-right: 0;
	padding: 0.5em 0;
	padding-left: 1em;
}
.el-transfer-panel__list {
	height: inherit;
}
.el-transfer-panel__item .el-checkbox__input {
	position: unset;
	vertical-align: middle;
}
.el-transfer-panel__item.el-checkbox .el-checkbox__label {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	padding-left: 0.5em;
	width: unset;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label,
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label span {
	font-size: inherit;
	position: unset;
}

/* el-tree */
.el-tree {
	--el-tree-node-content-height: 1.8em;
}

/* el-tabs */
.el-tabs {
	--el-tabs-header-height: 2em;
	--el-tabs-header-font-size: 1em;
	--el-tabs-header-padding: 0.5em 1em;
}
